.HabitsWrapper {
	margin-top: 20px;
	display: flex;
}

.HabitsContainer {
	position: relative;
	padding: 20px;
	border: 2px solid #cecece;
	width: 100%;
	border-radius: 20px;
	display: flex;
}

.HabitsDone {
	cursor: pointer;
	align-self: center;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	background-color: #cecece;
	padding: 10px;
}

.HabitsNameContainer {
   display: flex;
	text-align: center;
	margin-left: 20px;
	align-self: center;
   cursor: default;
}

.HabitsName {
	max-width: 200px;
	color: rgb(5, 18, 44);
	font-size: 17px;
	font-weight: 600;
	text-align: left;
}

.HabitsComplete {
	color: #aaaaaa;
	font-size: 14px;
	font-weight: 400;
	width: 140px;
	display: flex;
}

.HabitsTime {
	display: flex;
	right: 0;
	position: absolute;
	margin-top: 15px;
	margin-right: 20px;
	align-items: center;
	font-size: 16px;
	font-weight: 900;
	color: #aaaaaa;
   cursor: default;
}

/* .HabitsWrapper {
   margin-top: 20px;
	display: flex;
}

.HabitsContainer {
   position: relative;
	padding: 20px;
	border: 2px solid #00c68f;
	width: 100%;
	border-radius: 20px;
	display: flex;
}

.HabitsDone {
   cursor: pointer;
   align-self: center;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	background-color: #00c68f;
	padding: 10px;
}

.HabitsNameContainer {
   text-align: center;
   margin-left: 20px;
   justify-content: center;
   align-self: center;
   color: #00c68f;
   cursor: default;
}

.HabitsName {
   max-width: 200px;
   font-size: 17px;
   font-weight: 600;
   text-align: left;
}

.HabitsComplete {
	
	font-size: 16px;
	font-weight: 400;
}

.HabitsTime {
	display: flex;
   right: 0;
   position: absolute;
	margin-top: 15px;
   margin-right: 20px;
	align-items: center;
	font-size: 16px;
   font-weight: 900;
   color: #00c68f;
   cursor: default;
} */