.wrapper {
   font-family: 'Varela Round', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   align-self: center;
}

h1 {
   font-weight: 700;
   font-size: 37px;
   color: rgb(34, 64, 124);
   line-height: 40px;
}

p{
   opacity: .7;
   color: rgb(126, 126, 126);
   font-size: 15px;
   line-height: 25px;
   padding-left: 40px;
   padding-right: 40px;
}